#all {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
}

#classification {
	width: 1100px;
	height: 300px;
	margin: auto;
}

#body {
	width: 1100px;
	height: 100%;
	margin: auto;
	background: red;
}

#left {
	width: 200px;
	height: 100%;
	float: left;
}

#type {
	width: 100%;
	height: 60px;
	float: left;
	line-height: 55px;
	border-right: 1px solid #ccc;
}

#type img {
	width: 20px;
	height: 20px;
}

#type>div {
	float: left;
	margin-top: 5px;
	margin-left: 60px;
	margin-right: 10px;
}

#right {
	width: 890px;
	height: 100%;
	float: right;
}

#kind {
	width: 100%;
	margin-top: 20px;
	height: 40px;
}

#kind>div {
	margin-left: 5px;
	width: auto;
	float: left;
}

#kind>div a {
	text-decoration: none;
	color: rgb(50, 50, 50);
}

#kind>div a:hover {
	color: black;
	text-decoration: underline;
}

#body>div {
	width: 200px;
	height: 200px;
	float: left;
	margin: 10px 10px;
	background: saddlebrown;
}