#all {
	width: 900px;
	padding: 50px;
	background: gray;
}
#all>font {
	font-size: 25px;
}
#all>hr {
	width: 100%;
	border: 2px solid red;
}
#all>div {
	width: 150px;
	height: 150px;
	float: left;
	background: gold;
	margin: 20px 15px;
}
