#body {
	width: 1000px;
	height: 1000px;
	margin: 0px auto;
	background: red;
}
#hot {
	width: 900px;
	height: 400px;
	padding: 50px;
	background: gray;
}
#hot>font {
	font-size: 25px;
}
#hot>hr {
	width: 100%;
	border: 2px solid red;
}
#hot>div {
	width: 150px;
	height: 150px;
	float: left;
	background: gold;
	margin: 20px 15px;
}