body{
	font-family: "微软雅黑";
}
.d1{
	width:  1000px;
	height: 496px;
	margin: auto;
	position:relative;
}
.d2{
	width: 246px;
	height: 494px;
	border: 1px solid #CCCCCC;
	float: left;
}
.d4{
	width: 750px;
	height: 494px;
	border: 1px solid #CCCCCC;
	float: right;
}
.d4 span{
	font-weight: bold;
	font-size: 25px;
}
.d4 img{
	margin-top: 38px;
	margin-left: 30px;
}
.d3{
	width: 244px;
	height: 20px;
	font-weight: bold;
	display:table-cell;
	vertical-align:middle;
}
.d3 div{
	width: 244px;
	height: 40px;
	margin-bottom: 2px;
}
.d5{
	width:500px;
	height:265px;
	border: 1px solid #0000FF;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	box-shadow: #666 0px 0px 15px;background-color: #FFFAF0;
	border-radius: 5px;
	text-align: center;
}
.d6{
	width:500px;
	height: 50px;
	background: black;
	color:white;
	font-weight: bold;
	font-size: 22px;
	display:table-cell ;
	vertical-align: middle;
}
.d5 .text{
	width: 330px;
	height: 37px;
	border: 1px solid #CCCCCC;
	border-radius: 5px;
}
.d7{
	width: 88px;
	height: 36px;
	background: royalblue;
	border-radius:5px;
}
.d8{
	width: 200px;
	height: 200px;
	margin-left: 38px;
	margin-top: 38px;
	float: left;
}
.d9{
	width:40px;
	height: 40px;
	margin-left: 268px;
}
.bu{
	float: right;
	margin-right: 20px;
	background-color: floralwhite;
}
