body{
	font-family: "微软雅黑";
}
.d1{
	width:  1000px;
	height: 496px;
	margin: auto;
	position:relative;
}
.d2{
	/*position: absolute;*/
	/*固定分组在页面上*/
	position: fixed;
	width: 246px;
	height: 750px;
	background: cornsilk;
	border: 1px solid #CCCCCC;
	float: left;
}
.d4{
	width: 750px;
	height: 494px;
	border: 1px solid #CCCCCC;
	float: right;
}
.d4 span{
	font-weight: bold;
}
.d4 img{
	margin-top: 38px;
	margin-left: 30px;
}
.d4 .d10{
	margin-left: 30px;
}
.d4 button{
	width: 80px;
	height: 30px;
	margin-top: 15px;
	border-radius: 5px;
}
.d3{
	width: 244px;
	height: 20px;
	margin-left: 15px;
	font-weight: bold;
	display:table-cell;
	vertical-align:middle;
}
.d3 div{
	width: 244px;
	height: 40px;
	margin-bottom: 2px;
}
.d5{
	width:500px;
	height:265px;
	border: 1px solid #0000FF;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	box-shadow: #666 0px 0px 15px;
	background-color: #FFFAF0;
	border-radius: 5px;
	text-align: center;
}
.d6{
	width:500px;
	height: 50px;
	background: black;
	color:white;
	font-weight: bold;
	font-size: 22px;
	display:table-cell ;
	vertical-align: middle;
}
.d5 .text{
	width: 330px;
	height: 37px;
	border: 1px solid #CCCCCC;
	border-radius: 5px;
}
.d7{
	width: 88px;
	height: 36px;
	background: royalblue;
	border-radius:5px;
}
.d8{
	width: 200px;
	height: 200px;
	margin-left: 38px;
	margin-top: 38px;
	float: left;
}
.d9{
	width:400px;
	height: 50px;
	margin-left: 268px;
	margin-top: 10px;
}
.t1{
	width: 40px;
	height: 40px;
	margin-top: 5px; 
	float: left;
}
.t2{
	margin-left: 15px;
	margin-top: 15px;
	color: #CCCCCC;
	font-size: 15px;
	float: left;
}
.t4{
	border: 1px solid #000000;
	margin-left: 38px;
	font-size: 25px;
	color: #666666;
}
.t5{
	border: 1px solid#0000FF;
	margin-top: 90px;
}
.t6{
	width: 749px;
	height: 400px;
	border: 1px solid #0000FF;
	margin-top: -323px;
	position: absolute;
}
.t7{
	float: left;
	margin-top: 8px;
	font-size: 18px;
	color: #666666;
	margin-left: 10px;
	font-family: '宋体';
}
.t8{
	float: left;
	margin-left: 70px;
	height:40px;
	border-color: #666666;
	border-left-style:solid;
	border-width:1px
}
.t9{
	width: 749px;
	height: 300px;
	border: 1px solid #000000;
}
.bu{
	float: right;
	margin-right: 20px;
	background-color: floralwhite;
}
