.d1{
	width: 1000px;
	height: 2500px;
	border: 1px solid #CCCCCC;
	margin: auto;
}
.d2{
	width: 248px;
	height: 100%;
	border: 1px solid #0000FF;
	float: left;
}
.d3{
	width: 100%;
	height: 75px;
	border: 1px solid #0000FF;
}
.d4{
	width: 748px;
	height: 100%;
	border: 1px solid aqua;
	float: left;
}
.d4 .d10{
	margin-left: 30px;
}
.d4 button{
	width: 80px;
	height: 30px;
	margin-top: 35px;
	border-radius: 5px;
}
.d5{
	width: 200px;
	height: 200px;
	margin-left: 38px;
	margin-top: 38px;
	float: left; 	
}
.d6{
	margin-left: 270px ;
	color: #666666;
	margin-top: -20px;
}
.d7{
	margin-top: 60px;
	font-size: 25px;
	margin-left: 38px;
}
.d8{
	width: 90%;
	height: 40px;
	border: 1px solid #FF0000;
	margin: auto;
	background: #F5F5F5;
}
.t1{
	float: left;
	margin-top: 8px;
	font-size: 18px;
	color: #666666;
	margin-left: 10px;
	font-family: '宋体';
}
.t2{
	float: left;
	margin-left: 70px;
	height:40px;
	border-color: #666666;
	border-left-style:solid;
	border-width:1px
}
img{
	width: 50px;
	height: 50px;
	border: 1px solid #666666;
	float: left;
	margin-top: 12px;
	margin-left: 23px;
}
p{
	font-weight: bold;
	margin-left: 20px;
}
.p1{
	margin-top: 35px;
}
.p2{
	margin-top: 55px;
	font-size: 28px;
	margin-left: 270px;
}
span{
	font-size: 13px;
	margin-left: 10px;
}
.s1{
	margin-top: 7px;
	float: left;
}
.s2{
	color: #666666;
	font-size: 13px;
}
.s3{
	float: right;
	margin-top: 13px;
	margin-right: 38px;
}
.s4{
	margin-left:20px;
	font-size: 13px;
	color: cadetblue;
}
.haha{
	width: 90%;
	border: 1px solid brown;
	margin: auto;
}
.haha div{
	width: 100%;
	height: 30px;
}
hr{
	width: 90%;
	color: red;
}
