.d1{
	 width: 1000px;
	 height: 1300px;
	 border: 1px solid #0000FF;
	 margin: 0 auto;
}
.d2{
	width: 248px;
	height: 100%;
	border: 1px solid #000000;
	background:  whitesmoke;
	float: left;
}
.d3{
	width: 748px;
	height: 100%;
	border: 1px solid #000000;
	float: left;
}
.d3 div{
	width: 120px;
	height: 120px;
	border: 1px solid #4169E1;
	float: left;
	margin: 14px;
}
P{
	font-family: "微软雅黑";
	font-size: 23px;
	margin-left: 25px;
}
.p1{
	font-weight: bold;
	margin-top: 55px;
}
.p2{
	font-weight: bold;
}
.p3{
	margin-top: 55px;
}
hr{
	width: 80%;
	color: #CCCCCC;
}
li{
	list-style: none;
	width: 160px;
	height: 30px;
	color: #CCCCCC;
}
li div{
	width: 5px;
	height: 5px;
	background: #666666;
	float: left;
	margin: 10px;
}
a{
	font-family: "宋体";
	color: #000000;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
